services:
  - type: web
    name: proyectorender
    env: php
    region: oregon
    plan: free
    buildCommand: composer install --no-dev --optimize-autoloader && npm ci && npm run build
    startCommand: php artisan serve --host=0.0.0.0 --port=$PORT --env=production
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      - key: SESSION_DRIVER
        value: file
      - key: CACHE_DRIVER
        value: file
      - key: QUEUE_CONNECTION
        value: sync
